## Working with the DataBase: BITX-OD-EVA

  _A Gateway Manager (GWM <span style="color: rgb(0, 0, 255);">in</span> short) <span style="color: rgb(0, 0, 255);">is</span> a piece of software running <span style="color: rgb(0, 0, 255);">on</span> board of a HW gateway (also named Telemetry device <span style="color: rgb(0, 0, 0);">-</span> usually a touch screen) installed <span style="color: rgb(0, 0, 255);">on</span> a vending machine (VMC <span style="color: rgb(0, 0, 255);">in</span> short). Any GWM <span style="color: rgb(0, 0, 255);">is</span> owned <span style="color: rgb(0, 0, 255);">by</span> a telemetry user, linked <span style="color: rgb(0, 0, 255);">to</span> one of the N<span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(0, 0, 255);">And</span> customers_

<span style="font-size: 12pt;">Gateway managers generate several types of events:</span>

1. Alarms
2. Notifications
3. System events
4. Audit Reports

- <span style="font-size: 12pt;">Alarms and notifications are identified by well-defined EVA-DTS codes.</span>
- <span style="font-size: 12pt;">Alarms are conditions, detected by the GWM or the VMC, which can cause partial or total malfunctions of the system or the VMC; alarms can be in one of two states: open (active) or closed (inactive).</span>
- <span style="font-size: 12pt;">Notifications are interesting conditions, detected&nbsp;<span class="contentpasted0">the GWM or the VMC, which do not&nbsp;</span>mine the plain functioning of the system.</span>
- <span style="font-size: 12pt;">System events are notifications generated only by the GWM, and trace GWM-specific interesting conditions.</span>
- <span style="font-size: 12pt;">Audit reports are collections of well-defined data, expressed using the EVA-DTS file format.</span>
- <span style="font-size: 12pt;">Standard audit reports contain various data and statistics generated by the VMC, and respect the file format and the contents defined into the EVA-DTS protocol.</span>
- <span style="font-size: 12pt;">Non-standard audit reports still respect the EVA-DTS file format, but may contain custom contents.</span> 
- <span style="font-size: 12pt;">The STATUS audit report is the most important telemetric audit report: it is generated by the GWM (usually at regular timings), and contains several type of telemetry data, collected from the system and the VMC.</span>

In [1]:
import os
import sys
import warnings
warnings.filterwarnings('ignore')

First establish connection to the database using python

In [2]:
import pyodbc
import pandas as pd


# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = 'vpay-asdmi.public.21203d2a181c.database.windows.net,3342' 
database = 'BITX-OD-EVA' 
username = 'nandaa' 
password = 'Timileyin1998' 

engine = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = engine.cursor()

The Table dbo.EventTypes in the database contains the event types below.

In [3]:

sql = "SELECT TOP (100) * FROM Events"

df = pd.read_sql(sql, engine)
df.head()

,PK_EventId,EK_GwEventId,EK_UserId,GatewayId,Port,RaiseDate,InsertDate,FK_EventTypeId,Marker,EvaDtsRecordset,ProcessingType
0,7,877691199,78,00E04C06D82B,None,2022-12-27 16:56:37.453,2022-12-27 16:56:37.453,4,None,None,0
1,8,877691307,78,00E04C06D82B,None,2022-12-27 16:57:03.783,2022-12-27 16:57:03.783,3,None,DXS*BTX00E04C06D82B*VA*V0/6*1\r\nST*001*0001\r...,0
2,9,877691309,78,00E04C06D82B,None,2022-12-27 16:57:04.497,2022-12-27 16:57:04.497,5,STATUS,DXS*BTX00E04C06D82B*VA*V1/6*1\r\nST*001*0001\r...,0
3,10,877692561,78,00E04C06D82B,None,2022-12-27 17:02:38.170,2022-12-27 17:02:38.170,4,None,None,0
4,11,877692666,78,00E04C06D82B,None,2022-12-27 17:03:05.827,2022-12-27 17:03:05.827,3,None,DXS*BTX00E04C06D82B*VA*V0/6*1\r\nST*001*0001\r...,0

The Table dbo.EventTypes in the database contains the event types below.

In [4]:

# select 26 rows from SQL table to insert in dataframe.
query = "SELECT * FROM [BITX-OD-EVA].[dbo].[EventTypes];"

df = pd.read_sql(query, engine)
df.head()

   PK_EventTypeId            Id
0               1     OpenAlarm
1               2    CloseAlarm
2               3  Notification
3               4   SystemEvent
4               5   AuditReport

The Table dbo.EventProcessingTypes in the database contains the event processing types below.

The event processing types can be:

1. Processed
2. AsyncAgent
3. DBSynchronous
4. ConnectorSynchronous

In [5]:
query = """SELECT * FROM [BITX-OD-EVA].[dbo].[EventProcessingTypes]"""

df = pd.read_sql(query, engine)
df.head()

   PK_EventProcessingTypeId                    Id
0                         0             Processed
1                         1            AsyncAgent
2                         2         DBSynchronous
3                         3  ConnectorSynchronous

The Table dbo.Events <span style="color: #99ffff;">in</span> the database contains the events recorded <span style="color: #ebbbff;">from</span> the gateway manager below.

In [6]:
query = 'SELECT TOP (100) * FROM [BITX-OD-EVA].[dbo].[Events]'  # query taking so long after ordering

df = pd.read_sql(query, engine)
df.head()

,PK_EventId,EK_GwEventId,EK_UserId,GatewayId,Port,RaiseDate,InsertDate,FK_EventTypeId,Marker,EvaDtsRecordset,ProcessingType
0,7,877691199,78,00E04C06D82B,None,2022-12-27 16:56:37.453,2022-12-27 16:56:37.453,4,None,None,0
1,8,877691307,78,00E04C06D82B,None,2022-12-27 16:57:03.783,2022-12-27 16:57:03.783,3,None,DXS*BTX00E04C06D82B*VA*V0/6*1\r\nST*001*0001\r...,0
2,9,877691309,78,00E04C06D82B,None,2022-12-27 16:57:04.497,2022-12-27 16:57:04.497,5,STATUS,DXS*BTX00E04C06D82B*VA*V1/6*1\r\nST*001*0001\r...,0
3,10,877692561,78,00E04C06D82B,None,2022-12-27 17:02:38.170,2022-12-27 17:02:38.170,4,None,None,0
4,11,877692666,78,00E04C06D82B,None,2022-12-27 17:03:05.827,2022-12-27 17:03:05.827,3,None,DXS*BTX00E04C06D82B*VA*V0/6*1\r\nST*001*0001\r...,0

The results below shows the events recorded from the gateway manager showing the event types and processing types.

In [7]:
query = """ SELECT TOP (100) * FROM [BITX-OD-EVA].[dbo].[Events] E 
            INNER JOIN [BITX-OD-EVA].[dbo].[EventTypes] ET ON E.FK_EventTypeId=ET.PK_EventTypeId 
            INNER JOIN [BITX-OD-EVA].[dbo].[EventProcessingTypes] EP ON EP.PK_EventProcessingTypeId = E.ProcessingType
            """

df = pd.read_sql(query, engine)
df.head()

,PK_EventId,EK_GwEventId,EK_UserId,GatewayId,Port,RaiseDate,InsertDate,FK_EventTypeId,Marker,EvaDtsRecordset,ProcessingType,PK_EventTypeId,Id,PK_EventProcessingTypeId,Id
0,7,877691199,78,00E04C06D82B,None,2022-12-27 16:56:37.453,2022-12-27 16:56:37.453,4,None,None,0,4,SystemEvent,0,Processed
1,8,877691307,78,00E04C06D82B,None,2022-12-27 16:57:03.783,2022-12-27 16:57:03.783,3,None,DXS*BTX00E04C06D82B*VA*V0/6*1\r\nST*001*0001\r...,0,3,Notification,0,Processed
2,9,877691309,78,00E04C06D82B,None,2022-12-27 16:57:04.497,2022-12-27 16:57:04.497,5,STATUS,DXS*BTX00E04C06D82B*VA*V1/6*1\r\nST*001*0001\r...,0,5,AuditReport,0,Processed
3,10,877692561,78,00E04C06D82B,None,2022-12-27 17:02:38.170,2022-12-27 17:02:38.170,4,None,None,0,4,SystemEvent,0,Processed
4,11,877692666,78,00E04C06D82B,None,2022-12-27 17:03:05.827,2022-12-27 17:03:05.827,3,None,DXS*BTX00E04C06D82B*VA*V0/6*1\r\nST*001*0001\r...,0,3,Notification,0,Processed

Current state of the alarms/notifications/system events for a single GWM.    List of all the event types occurred for a given GWM

In [8]:
query = """ SELECT TOP (100) *
            FROM [BITX-OD-EVA].[dbo].[SystemEvents] S INNER JOIN [BITX-OD-EVA].[dbo].[Events] E ON S.PFK_EventId=E.PK_EventId
            INNER JOIN [BITX-OD-EVA].[dbo].[EventTypes] ET ON E.FK_EventTypeId=ET.PK_EventTypeId """

df = pd.read_sql(query, engine)
df.head()

,PFK_EventId,EK_UserId,GatewayId,OSName,OSVersion,GWMConfigurationId,USBPortsMask,DonglePortsMask,PK_EventId,EK_GwEventId,...,GatewayId,Port,RaiseDate,InsertDate,FK_EventTypeId,Marker,EvaDtsRecordset,ProcessingType,PK_EventTypeId,Id
0,9,78,00E04C06D82B,Ubuntu,16.04,Nand-Eva,63,3,9,877691309,...,00E04C06D82B,None,2022-12-27 16:57:04.497,2022-12-27 16:57:04.497,5,STATUS,DXS*BTX00E04C06D82B*VA*V1/6*1\r\nST*001*0001\r...,0,5,AuditReport
1,12,78,00E04C06D82B,Ubuntu,16.04,Nand-Eva,63,3,12,877692667,...,00E04C06D82B,None,2022-12-27 17:03:06.650,2022-12-27 17:03:06.650,5,STATUS,DXS*BTX00E04C06D82B*VA*V1/6*1\r\nST*001*0001\r...,0,5,AuditReport
2,13,78,865167061326949,Ubuntu,20.04,Nand-Eva,15,31,13,877728385,...,865167061326949,None,2022-12-27 18:28:38.473,2022-12-27 18:28:38.473,5,STATUS,DXS*BTX865167061326949*VA*V1/6*1\r\nST*001*000...,0,5,AuditReport
3,14,78,00E04C06D82B,Ubuntu,16.04,Nand-Eva,63,3,14,877735958,...,00E04C06D82B,None,2022-12-27 19:02:53.397,2022-12-27 19:02:53.397,5,STATUS,DXS*BTX00E04C06D82B*VA*V1/6*1\r\nST*001*0001\r...,0,5,AuditReport
4,15,78,865167061326949,Ubuntu,20.04,Nand-Eva,15,31,15,877765964,...,865167061326949,None,2022-12-27 20:28:51.727,2022-12-27 20:28:51.727,5,STATUS,DXS*BTX865167061326949*VA*V1/6*1\r\nST*001*000...,0,5,AuditReport

Current state of the alarms/notifications/system events for a single GWM.  List of all the event types occurred for a given GWM

In [9]:
query = """ SELECT [PK_EVADTSEventId]
      ,[EK_UserId]    -- Telemetry user owning the GWM
      ,[GatewayId]    -- GWM unique identifier
      ,[EvaDtsCode]   -- EVA-DTS event code
      ,[LastUpdate]   -- Last event occurrence date (UTC)
      ,[FK_EventId]   -- FK into the Events table
      ,[Counter]      -- Absolute counter of the event occurrences (from the first GWM boot)
      ,[Id]           -- Event type (in readable form)
  FROM [BITX-OD-EVA].[dbo].[VEVADTSEvents]
WHERE GatewayId = '00E04C1720EC' -- given GWM
 """

df = pd.read_sql(query, engine)
df.head()

,PK_EVADTSEventId,EK_UserId,GatewayId,EvaDtsCode,LastUpdate,FK_EventId,Counter,Id
0,10,78,00E04C1720EC,ECF_1,2023-07-28 05:35:19.467,117885292,13,OpenAlarm
1,191255,78,00E04C1720EC,ECF_2,2023-06-09 09:01:56.290,90370999,11,OpenAlarm
2,8,78,00E04C1720EC,ECL,2023-08-01 05:05:20.263,120089350,94,OpenAlarm
3,9,78,00E04C1720EC,ECV,2022-12-28 12:07:52.660,56,2,Notification
4,103264,78,00E04C1720EC,EIL,2023-02-06 10:13:43.597,18131698,8,OpenAlarm

Current state of a given event code for every GWM of a given telemetry user

In [10]:
query = """ 
      SELECT *
        FROM [BITX-OD-EVA].[dbo].[VEVADTSEvents]
      where EK_UserId = 78       -- given user
      and EvaDtsCode = 'OBY'     -- given event code
      order by LastUpdate desc   -- whatever useful sorting
 """

df = pd.read_sql(query, engine)
df.head()

,PK_EVADTSEventId,EK_UserId,GatewayId,Port,EvaDtsCode,FK_EventTypeId,LastUpdate,FK_EventId,Counter,Id
0,30,78,00E04C1720EC,None,OBY,3,2023-05-22 15:20:59.007,80810992,10,Notification
1,236396,78,0800271FC86F,None,OBY,3,2023-05-09 11:55:18.957,74101831,5,Notification
2,149164,78,865326065539101,None,OBY,3,2023-04-04 09:15:52.373,56079366,37,Notification
3,136282,78,00E04C0CD9F7,None,OBY,3,2023-02-08 13:27:02.507,19230572,12,Notification
4,156194,78,865167066307191,None,OBY,3,2023-02-02 16:16:41.223,16483458,94,Notification

Sum of all the occurrences of a given event code for a given telemetry user

In [11]:
query = """ 
SELECT sum(Counter) as EventsCount
  FROM [BITX-OD-EVA].[dbo].[VEVADTSEvents]
where EK_UserId = 78      
and EvaDtsCode = 'EIW'    

 """

df = pd.read_sql(query, engine)
df.head()

   EventsCount
0         2464

Alarms/notifications events occurrencies for a specific GWM

In [12]:
query = """  SELECT TOP (1000) [PK_EventId] 
      ,[EK_UserId]       -- Telemetry user owning the GWM
      ,[GatewayId]       -- GWM unique identifier
      ,[RaiseDate]       -- UTC raise datetime (GWM time)
      ,[InsertDate]      -- UTC receipt datetime (Telemetry server time)
      ,[EventType]       -- Event type (in readable form) 
      ,[Marker]          -- Evant tag/marker
      ,[EvaDtsCode]      -- EVA-DTS event code
  FROM [BITX-OD-EVA].[dbo].[VEventsHistory]
  where GatewayId = '00E04C1720EC' -- interesting GWM
  order by 1 desc                  -- whaterver interesting sorting
 """

df = pd.read_sql(query, engine)
df.head()

,PK_EventId,EK_UserId,GatewayId,RaiseDate,InsertDate,EventType,Marker,EvaDtsCode
0,123360088,78,00E04C1720EC,2023-08-07 05:03:02.227,2023-08-07 05:03:02.227,Notification,None,EIV_2
1,123194670,78,00E04C1720EC,2023-08-06 21:03:17.703,2023-08-06 21:03:17.703,Notification,None,EIW
2,123046001,78,00E04C1720EC,2023-08-06 13:03:12.047,2023-08-06 13:03:12.047,Notification,None,EIW
3,122892923,78,00E04C1720EC,2023-08-06 05:03:13.420,2023-08-06 05:03:13.420,Notification,None,EIV_2
4,122733606,78,00E04C1720EC,2023-08-05 21:01:18.563,2023-08-05 21:01:18.563,Notification,None,EIW

Alarms/notifications events occurrencies for a specific event code, for a given user

In [13]:
query = """  SELECT TOP (1000) [PK_EventId]
      ,[EK_UserId]       -- Telemetry user owning the GWM
      ,[GatewayId]       -- GWM unique identifier
      ,[RaiseDate]       -- UTC raise datetime (GWM time)
      ,[InsertDate]      -- UTC receipt datetime (Telemetry server time)
      ,[EventType]       -- Event type (in readable form)
      ,[Marker]          -- Evant tag/marker
      ,[EvaDtsCode]      -- EVA-DTS event code
  FROM [BITX-OD-EVA].[dbo].[VEventsHistory]
  where EK_UserId = 30             -- interesting GWM owner
  and EvaDtsCode = 'EIN'           -- interesting event code
  order by 1 desc                  -- whaterver interesting sorting
 """

df = pd.read_sql(query, engine)
df.head()

,PK_EventId,EK_UserId,GatewayId,RaiseDate,InsertDate,EventType,Marker,EvaDtsCode
0,158540738,30,00E04C0112CA,2023-10-10 16:58:33.587,2023-10-10 16:58:33.587,OpenAlarm,0,EIN
1,158540580,30,00E04C172194,2023-10-10 16:58:00.817,2023-10-10 16:58:00.817,OpenAlarm,1,EIN
2,158540568,30,00E04C1CAFCF,2023-10-10 16:57:57.503,2023-10-10 16:57:57.503,CloseAlarm,23,EIN
3,158540529,30,00E04C01150A,2023-10-10 16:57:49.267,2023-10-10 16:57:49.267,CloseAlarm,20,EIN
4,158540521,30,00E04C01123C,2023-10-10 16:57:46.940,2023-10-10 16:57:46.940,OpenAlarm,7,EIN

In [14]:
query = """ 
SELECT TOP (1000)
             -- Telemetry user owning the GWM
      [EventType]       -- Event type (in readable form) 
      , COUNT(*) AS TotalEvents
        FROM [BITX-OD-EVA].[dbo].[VEventsHistory]
        where GatewayId = '00E04C1720EC' -- interesting GWM
        GROUP BY EventType
        order by 1 desc                  -- whaterver interesting sorting
 """

df = pd.read_sql(query, engine)
df.head()

      EventType  TotalEvents
0     OpenAlarm           69
1  Notification         1031
2    CloseAlarm           56

Count of all events occurrencies of a specific event code, for a given user, in an interesting period of time (May take quite a long time)

In [15]:
query = """  SELECT count(*) 
  FROM [BITX-OD-EVA].[dbo].[VEventsHistory]
  where EK_UserId = 30             -- interesting GWM owner
  and EvaDtsCode = 'EIN'           -- interesting event code
  and [InsertDate] > '2023-05-04'  -- interesting period of time
  order by 1 desc                  -- whaterver interesting sorting
 """

df = pd.read_sql(query, engine)
df.head()